.newBtn{
    padding: 5px 15px;
    color: rgba(42, 101, 42, 0.762);
    max-width: 150px;
    border-radius:  4px; 
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 5px 15px;
    cursor: pointer;
}

