
.flex{
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 0 2%;
    padding: 0px 18% !important;
} 

nav a{
    text-decoration: unset;
    color: black;
    padding: 2%;
    font-size: 1.2rem;
}
.textStyle{
    text-decoration: unset;
    color: black;
    padding: 2%;
    font-size: 1.2rem;
}