
/* aproximacion css */
/* Encabezado */

body .zona-1 {
  width: 100%;
  height: auto;
}
.encabezado .divColor{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
.encabezado .divColor img {
  padding: 5% 0% 5% 0%;
}
.encabezado .divColor {
  background: rgb(77,134,74);
  background: radial-gradient(circle, rgb(77 134 74 / 82%) 0%, rgba(162,199,134,0.6759746134782038) 100%);
  padding: 1%;
}
.encabezado .divColor .dinoSucu {
  padding: 1% 0%;
  width: 120px;
  height: 120px;
}
/* /* NAVBAR */
/* .flex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}  */