.containerProducts{
    width: 100%;
    height: auto;
    background-color: yellow;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 0.5%;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 5px;
    margin-bottom: 4%;
}